
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">COMPUTER ENGINEERING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Mentor Application<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.mmumullana.org">University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.mmumullana.org">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
      </ul>
      	<form action="LogoutServlet" method="post">
      		<input type="hidden" name="id" value="">
      		<input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Logout">
      	</form>
<!--       	<button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="window.location.href='login.html'">Login</button> -->
    </div>
  </nav>

